In [1]:
from scipy import stats

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("survey.csv", encoding = 'cp949')

In [5]:
df

   sex  income  English  jobSatisfaction  stress
0    m    3000      500                5       5
1    f    4000      600                4       4
2    f    5000      700                3       2
3    m    6000      800                2       2
4    m    4000      700                2       5
5    m    3000      600                1       5
6    m    3000      500                3       1
7    m    5000      500                3       2
8    f    4999      600                4       3
9    f    5000      700                5       4
10   m    3000      500                5       5
11   m    4000      600                4       4
12   m    5000      700                3       2
13   m    6000      800                2       5
14   f    4000      700                2       4
15   f    3000      600                1       2
16   m    3000      500                3       2
17   m    5000      500                3       5
18   m    4999      600                4       5
19   m    5000      500                3       1
20   f    4999      600                4       2
21   f    5000      700                5       3
22   f    3000      500                5       4

In [6]:
male = df.income[df.sex == 'm']
female = df.income[df.sex == 'f']

In [7]:
stats.ttest_ind(male, female)

Ttest_indResult(statistic=-0.10650308143428423, pvalue=0.9161940781163369)